.custom-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: black;
  color: #fff;
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0;
  height: 32px;
  font-size: 14px;
  z-index: 999;
  padding-bottom: 5px;;
  background-color: #000000;
}
@media (max-width: 768px) {
  .custom-footer {
    font-size: 12px;
    padding: 10px 0;
  }

  .custom-footer p {
    font-size: 11px;
    letter-spacing: 0.3px;
  }
}

@media (max-width: 480px) {
  .custom-footer {
    font-size: 10px;
    padding: 8px 0;
  }

  .custom-footer p {
    font-size: 12px;
  }
}