{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Add this inside <head> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{% static 'myapp/css/nav.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/legacy.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/legacy_more.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/faculty.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">

    <style>
        body{
            background: #264653;
background: radial-gradient(circle, rgba(38, 70, 83, 1) 0%, rgba(38, 70, 83, 1) 50%, rgba(42, 157, 143, 1) 100%);

        }
    </style>

</head>
<body>

    {% include 'myapp/nav.html'%}


    
    {% block content %}
    {% endblock %}


    {% include 'myapp/footer.html' %}


    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


                <!-- load js files -->
    <script src="{% static 'myapp/javascript/nav.js' %}"></script>
    <script src="{% static 'myapp/javascript/legacy.js' %}"></script>
    <script src="{% static 'myapp/javascript/legacy_more.js' %}"></script>
    <script src="{% static 'myapp/javascript/faculty.js' %}"></script>
</body>
</html>