{% extends 'myapp/base.html' %}
{% block title %}Contact{% endblock %}
{% block content %}

<style>
  .c-i {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.accordion-wrapper {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
    width: 600px;
    margin:0 auto;
}
.accordion {
    width: 100%;
    color: white;
    overflow: hidden;
    margin-bottom: 16px;
}
.accordion:last-child{
    margin-bottom: 0;
}
.accordion-label {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 16px;
    background: #ff0044;
    font-weight: 400;
    cursor: pointer;
    font-size: 18px;
}
.accordion-label:hover {
    background: #ff0044;
}
.accordion-label::after {
    content: "\276F";
    width: 16px;
    height: 16px;
    text-align: center;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content {
    max-height: 0;
    padding: 0 16px;
    color: #ff0044;
    background: white;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}
.accordion-content p{
    margin: 0;
    color: #000000;
    font-size: 18px;
}
.c-i:checked + .accordion-label {
    background: #ff0044;
}
.c-i:checked + .accordion-label::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.c-i:checked ~ .accordion-content {
    max-height: 100vh;
    padding: 16px;
}
.info{
  width: 600px;
  display: flex;
  justify-content: center;
  height: 400px;
}
@media screen and (max-width: 600px) {
  .info {
     width: 320px;
  }
}
</style>

<div class="contact-container">

  <div class="text-container">
    <h1 class="contact-name">
      <span class="prefix">We are</span>
      <div class="message">
        <div class="word1">Growing</div>
        <div class="word2">Better</div>
        <div class="word3">sweet</div>
        <div class="word4">great</div>
      </div>
    </h1>
  </div>
  <section id="contact">
  <div class="contact-box">
    <h2>Contact</h2>
    <p class="contact-lead">Write to Us</p>
    <p>Write to us directly or call us – I look forward to exciting ideas!</p>
    <form class="contact-form" method="POST" action="#contact" id="contactForm" name="submit-to-google-sheet">
      <div class="form-item">
        <label for="contact-name">Full Name</label>
        <input id="contact-name" name="name" type="text" required>
      </div>
      <div class="form-item">
        <label for="contact-email">E-Mail</label>
        <input id="contact-email" name="email" type="email" required>
      </div>
      <div class="form-item">
        <label for="contact-subject">Subject</label>
        <input id="contact-subject" name="subject" type="text" required>
      </div>
      <div class="form-item">
        <label for="contact-message">Message</label>
        <textarea id="contact-message" name="message" rows="4" required></textarea>
      </div>
      <input type="hidden" name="g-recaptcha-response" id="g-recaptcha-response">
      <button class="form-button" type="submit">Send Message</button>
    </form>
  </div>
</section>
<div class="contact-info">
    <span class="span-contact" style="color: #fff;">Contact Us for </span>
<div class="dropping-texts">
  <div style=" color: #ffffff">Innovation</div>
  <div style=" color:#fff">Collaboration</div>
  <div style=" color:#fff">Inspiration</div>
  <div style=" color:#fff">Transformation</div>
</div>
</div>
<div class="info">
  {% for item in data %}
  <div class="accordion-wrapper">
  <div class="accordion">
    <input class="c-i" type="radio" name="radio-a" id="check1" checked>
    <label class="accordion-label" for="check1">Phone</label>
    <div class="accordion-content">
      <p>{{item.phone_number}}</p>
    </div>
  </div>
  <div class="accordion">
    <input class="c-i" type="radio" name="radio-a" id="check2">
    <label class="accordion-label" for="check2">Email</label>
    <div class="accordion-content">
      <p>{{item.email}}</p>
    </div>
  </div>
  <div class="accordion">
    <input class="c-i" type="radio" name="radio-a" id="check3">
    <label class="accordion-label" for="check3">Address</label>
    <div class="accordion-content">
      <p>{{item.address}}</p>
    </div>
  </div>
</div>
{% endfor %}
  

</div>


</div>



{% endblock %}