{% extends 'myapp/base.html' %}
{% block title %}Gallery{% endblock %}
{% block content %}

<div class="album-container">
<div class="album">
  <div class="responsive-container-block bg">
    <div class="responsive-container-block img-cont">
      {% for item in data %}
      <img class="img" src="{{item.row1.url}}">
      {% endfor %}
    </div>
    <div class="responsive-container-block img-cont">
       {% for item in data %}
      <img class="img" src="{{item.row2.url}}">
      {% endfor %}
    </div>
    <div class="responsive-container-block img-cont">
       {% for item in data %}
      <img class="img" src="{{item.row3.url}}">
      {% endfor %}
    </div>
  </div>
</div>
</div>
{% endblock %}