{% extends 'myapp/base.html' %}
{% block title %}Students{% endblock %}
{% block content %}
{% load static %}
<div class="masking-container">
    <h1 class="masked-text">The Team 2016-17</h1>
</div>



<div class="legacy_more_container">
  {% for item in data %}
<figure class="snip1200" style="margin-top: 25px;">
  <img src="{{item.s_img.url}}" alt="" />
  <figcaption>
    <p>{{item.s_title}}</p>
    <div class="heading">
      <h2 style="font-size: 16px;">{{item.s_name}}</h2>
    </div>
  </figcaption>
</figure>
{% endfor %}
</div>

{% endblock %}